        <footer>
            <nav>
                <ul>
                <li>
                    <a href="http://galette.eu">
                        <i class="fas fa-globe-africa{#-europe => fontawesome 5.6.0#}"></i>
                        {{ _T("Website") }}
                    </a>
                </li>
                <li>
                    <a href="http://galette.eu/documentation/">
                        <i class="fas fa-book"></i>
                        {{_T("Documentation") }}
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/galette_soft">
                        <i class="fab fa-twitter"></i>
                        @galette_soft
                    </a>
                </li>
                </ul>
            </nav>
{# Display footer line, if it does exists #}
{% if preferences.pref_footer() != '' %}
    {{ preferences.pref_footer|raw }}
{% endif %}
            <a id="copyright" href="http://galette.eu/">
                <i class="fas fa-cookie-bite"></i>
                Galette {{ constant('GALETTE_VERSION') }}
            </a>
{% if login.isLogged() and (login.isAdmin() or login.isStaff()) %}
            <a id="sysinfos" href="{{ path_for("sysinfos") }}">
                <i class="fas fa-cogs"></i>
                {{ _T("System informations") }}
            </a>
{% endif %}
        </footer>
